#!/bin/rc

flag x +

fn configbind{
	echo "CONFIGBIND"
	bootargs=bind!/mnt/vmproc
}

fn connectbind{
	echo "CONNECTBIND"
	if(~ $#* 0){
		echo bind method needs an argument
	}
	if not {
		echo $1
		echo $cputype
		bind $1/$cputype /$cputype
		/$cputype/bin/bind /$cputype/bin /bin
		for(i in acme adm dist lib net rc sys usr dev/draw dev/cons)
			bind $1/$i /$i
		bind -a /rc/bin /bin
	}
}

mbind=(configbind connectbind)
mt=(mbind $mt)
