#!/bin/rc

flag x +

fn configbind{
}

fn connectbind{
	if(~ $#* 0){
		echo bind method needs an argument
	}
	if not {
		bind $1 /
		/$cputype/bin/bind /$cputype/bin /bin
	}
}

mbind=(configbind connectbind)
mt=(mbind $mt)
